fader-height = 576px
name-height = 16px

bg-color = #303030
text-color = darken(#dbdbdb, 40)

*
    -moz-box-sizing border-box
    box-sizing border-box

html, body
    margin 0
    padding 0
    background bg-color
    color text-color

body
    margin-top 30px

.nav
    position absolute
    top 0
    width 100%
    height 30px
    background black
    overflow none

    .mode-picker, .item-picker
        display inline-block

    button
        height 30px

.channel-view-in-mix
    float left

    .name
        border 1px inset transparent
        text-align center
        background #111
        color white
        &:hover
            border-color white

.fader
    position relative
    .meter
        width 20px
        position absolute
        right 10px
    .groove
        background black
        position absolute

    .grip
        position absolute

        background: #897e6c
        background-image: url('fader.png')
        background-size: contain // https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Scaling_background_images


    .scale
        position absolute
        line
            stroke text-color
            stroke-width 1.5px
        text
            font-size 10px
            font-family sans-serif
            fill text-color

.mute-button, .pfl-button
    text-align center
    height 20px
    width 100%

.mute-button.enabled
    background red

.pfl-button.enabled
    color white
    background #333

.master-fader
    background black
    position absolute
    right 0
    overflow auto

.filterbank
    overflow auto
    .filter, .labels
        float left
        width 100px
        position relative
        .adjusting
            background: lighten(#303030, 40)
        .freq, .gain, .q
            height 50px

#channel svg
    display: block
    clear both
    path
        stroke-width 1
        stroke yellow
        fill none
