@import 'nib'

fader-height = 576px
name-height = 16px

bg-color = #303030
light-text-color = #dbdbdb
text-color = darken(light-text-color, 40)

*
    -moz-box-sizing border-box
    box-sizing border-box
    user-select none

html, body
    margin 0
    padding 0
    background bg-color
    color text-color

body
    margin-top 30px

h1
    margin 0

button
    border 1px outset black
    background bg-color
    color light-text-color

    &.active
        color black

    &:focus
        outline none

.nav
    position absolute
    top 0
    width 100%
    height 30px
    background black
    overflow none

    .mode-picker, .item-picker
        display inline-block
        button
            margin 0
        button.active
            background #5a5aff
            box-shadow 0 0 20px @background
            position relative
            z-index 1
        margin-right 25px

    button
        height 30px

    & > button
        position absolute
        right 0

.channel-view-in-mix
    float left

    .name
        border 1px inset transparent
        text-align center
        background #111
        color white

.fader
    position relative
    .meter
        width 20px
        position absolute
        right 10px
    .groove
        background black
        position absolute

    .grip
        position absolute

        background: #897e6c
        background-image: url('fader.png')
        background-size: contain // https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Scaling_background_images

        &.grabbed
            box-shadow 0 0 24px white

    .scale
        position absolute
        line
            stroke text-color
            stroke-width 1.5px
        text
            font-size 10px
            font-family sans-serif
            fill text-color

.mute-button, .pfl-button
    text-align center
    height 30px
    width 100%

.mute-button.active
    background #AC0000
    box-shadow 0 0 20px 1px #ac0000

.pfl-button.active
    background yellow
    box-shadow 0 0 20px 1px yellow
    position relative
    z-index 1

.master-fader
    background black
    position absolute
    right 0
    overflow auto

.filterbank
    overflow auto
    .filter, .labels
        float left
        width 100px
        position relative
        .adjusting
            background: lighten(#303030, 40)
        .freq, .gain, .q
            line-height 50px
    .labels
        text-align right
        width 50px
        padding-right 10px
        font-weight bold

#channel svg
    display: block
    clear both
    path
        stroke-width 1
        stroke yellow
        fill none
